[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
bumpversion = "*"
coverage = "*"
django-autosequence = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
tox = "*"
ipython = "*"
sphinx = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.6"
